.postItem{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    .imgWrap{
        position: relative;
        .likeComments{
            width:80%;
            position: absolute;
            top:150px;
            display: none;
            margin-left: 100px;
            font-weight: bolder;
    
    
            /* transition effect. not necessary */
            transition: opacity .2s, visibility .2s;
        }
        &:hover{
            .likeComments{
              display: flex;
            }
    }
}
    
}