.headerBackground{
    background-color: white;
    height: 70px;
    margin-bottom: 25px;
.header{
  
    width: 50%;
    display: flex;
    margin: auto;
    justify-content: space-between;

    .logo-container{
        height: 100%;
        width: 70px;
        padding: 25px;
        
    }
   
    .options{
        width: 50%;
        height:100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
        .option{
            margin: 10px,20px;
            cursor: pointer;
            align-content: center;
            padding: 5px 10px;

           
        }
       
       
        .addButton{
            border: 1px solid rgba(0,0,0,0.5);
            height: 100%;
            border-radius: 5px ;
            background-color: rgba(0,0,0,0);
            cursor: pointer;
          
          
            
            

        }
        .avatar{
            margin: 10px,
        }

    }
    .optionsPointerDisable{
        width: 50%;
        height:100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        pointer-events: none;
        .option{
            margin: 10px,15px;
            cursor: pointer;
            align-content: center;
            padding: 5px 10px;

           
        }
       
    }
    
    
}    
}