.profileContainer {
  height: auto;
  width: 100%;
  padding-bottom: calc(100% * 9 / 16);
  display: grid;
  margin: auto;
  padding: 10px;
  border-bottom: 1px inset black;
  // justify-content: space-between;
  margin-bottom: 25px;
  grid-template-columns: 1.5fr 4fr;
  grid-template-rows: 1.5fr 0.75fr 1fr 1fr;
  grid-template-areas:
    "avatar userName"
    "avatar profileStatus"
    "avatar displayName"
    "avatar bio";
  @media (max-width: 800px) {
    grid-template-rows: 2fr 0.5fr 0.75fr 0.5fr;
    grid-template-columns: 2fr 3fr;
    grid-template-areas:
      "avatar userName"
      "displayName displayName"
      "bio bio"
      "profileStatus profileStatus";
  }
  .avatarContainer {
    height: 100%;
    width: 100%;
    grid-area: avatar;
    display: grid;
    align-items: center;

    .avatar {
      width: 60%;
      height: auto;
    }
    .avatarHover {
      height: auto;
      width: 60%;
      cursor: pointer;
    
    }
  }
  .userName {
    grid-area: userName;
    font-weight: lighter;
    display: grid;
    width: 50%;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    @media (max-width: 800px) {
      width: 100%;
      height: 50%;
      grid-template-columns: none;
      grid-template-rows: 1fr 1fr;
    }
    .editButton {
      grid-area: editButton;
      height: 50%;
      width: 60%;
      border: 1px solid black;
      font-size: small;
      @media (max-width: 800px) {
        width: 100%;
        height: 100%;
      }
    }
  }
  .profileStatus {
    grid-area: profileStatus;
    display: grid;
    align-items: center;
   
    @media (max-width:800px) {
        border-top: 1px outset black;
        justify-content: center;
    }
  }
  .displayName {
    grid-area: displayName;
  }
  .bio {
    grid-area: bio;
  }
  // .image{
  //     display: flex;
  //     justify-content: flex-start;
  //     height:auto;
  //     width:55%;
  //     border-radius: 50%;
  //     @media (max-width:800px) {
  //         width: 75%;
  //     }
  // }
  // .imageHover{
  //     display: flex;
  //     justify-content: flex-start;
  //     height:auto;
  //     width:75%;
  //     border-radius: 50%;
  //     cursor: pointer;

  //     }
  //     .addButton{
  //         position: absolute;
  //         top:210px;
  //         margin-left: 110px;
  //         font-size: 50px;
  //         display: none;

  // }

  // .userName{
  //     font-weight: lighter;
  // }
  // h3{
  //     font-weight: lighter;
  // }
  // .displayName{
  //     font-weight: bold;
  // }
}
